<h1　id="cost">支出編集</h1>

<%= render 'form', cost: @cost %>

<button type="button" class="btn btn-outline-primary btn-lg">
<%= link_to '詳細', @cost %> 
</button>

<button type="button" class="btn btn-outline-primary btn-lg">
<%= link_to '戻る', costs_path %>
</button>
