<h1 id="cost">支出</h1>
<h5 >"金額"は半角数字で入力してください</h5>
<h5>半角数字以外だと0になります</h5>
<br>

<%= render 'form', cost: @cost %>

<br>

<button type="button" class="btn btn-outline-primary btn-lg"><%= link_to '戻る', :back %></button>
